h1 {
  color: red;
  text-align: center;
  font-size: 20px;
}
h2 {
  text-align: right;
}
p {
  color: blue;
  text-align: left;
  font-size: 45px;
  font-family: times new roman;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img { display: block; margin-left: auto; margin-right: auto; width: 900px; height: auto; animation: flotar 2s infinite ease-in-out; } @keyframes flotar { 0% { transform: translateY(0); } 50% { transform: translateY(-15px); } 100% { transform: translateY(0); } }
body {
  background-color: #faf3e0; /* crema */
}
